body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

div.background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('http://ichef.bbci.co.uk/images/ic/1600xn/p02pkxly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul.navbar{
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	position: fixed;
	background-color: rgba(4, 4, 4, 0.78);
    width: 100%;
    z-index: 2;
}


ul.navbar li {
	float: left;
	padding-right: 1%;
}

ul.navbar li a {	
	display: block;
	color: white;
	text-align: center;
	padding: 40px 20px;
	font-size: 20px;
	text-decoration: none;
}

ul.navbar li a:hover {
	background-color: #111;
}

ul.navbar li.icon {
	display: none;
}

ul.navbar li#linkedin, li#github, li#email {
	float: right;
}


@media screen and (max-width: 680px) {
	ul.navbar li:not(:first-child) {
		display: none;
	}
	ul.navbar li.icon  {
		float: right;
		display: inline-block;
	}

	ul.navbar li#linkedin, li#github, li#email {
		display: none;	
	}

	ul.navbar.responsive {
		position: relative;
	}

	ul.navbar.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.navbar.responsive li {
		float: none;
		display: inline;
	}
	ul.navbar.responsive li a {
        display: block;
        text-align: center;
	}
}

section.aboutMe, section.resume, section.projects {
	position: relative;
    z-index: 1;
}

.basic-info {
	display: -webkit-flex;
    display: flex;
	padding: 10% 5%;
	background-color: rgba(25, 14, 14, 0.33);
	
}

.left-categry {
	-webkit-flex: 1;
    flex: 1;
	font-size: 20px;
	color: white;
	padding-top: 5%;
}	

.profile-pic {
	-webkit-flex: 1;
    flex: 1;
	font-size: 20px;

}

img.my-pic {
	display: block;
	margin: auto;
	width: 300px;
    height: 300px;
    overflow: hidden;
	border-radius: 50%;
}

.right-categry {
	-webkit-flex: 1;
    flex: 1;
    float: right;
	font-size: 20px;
	color: white;
	padding-top: 5%;
}


@media only screen and (max-width: 768px) {
	.profile-pic {
		width: 100%;
	}

	.left-categry {
		width: 100%;
	}

	.right-categry {
		width: 100%;
	}
	
}

section.resume div.container {
	display: -webkit-flex;
    display: flex;
     -webkit-flex-direction: column;
    flex-direction: column;
	padding: 10% 5%;
	background: rgba(128, 122, 122, 0.6);
}


section.projects div.container {
	display: -webkit-flex;
    display: flex;
	padding: 10% 5%;
	background: rgba(124, 127, 181, 0.4);
}

div.center-title h2 {
	text-align: center;
	line-height: 50%;
}

.center-title {
	-webkit-flex: 1;
    flex: 1;
	background-color: #f4594e;
	height: 50px;
	width: 250px;
}





