@charset "UTF-8";

body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

div.background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/univers1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------------nav bar-----------------------*/
ul.navbar{
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	position: fixed;
	background-color: rgba(4, 4, 4, 0.78);
    width: 100%;
    z-index: 2;
}


ul.navbar li {
	float: left;
	padding-right: 1%;
}

ul.navbar li a {	
	display: block;
	color: white;
	text-align: center;
	padding: 35px 10px;
	font-size: 22px;
	margin-left: 20px;
	text-decoration: none;
}

ul.navbar li a:hover {
	background-color: rgb(91, 26, 115);
}

ul.navbar li.icon {
	display: none;
}

ul.navbar li#linkedin, li#github, li#email {
	float: right;
}


@media screen and (max-width: 725px) {
	ul.navbar li:not(:first-child) {
		display: none;
	}
	ul.navbar li.icon  {
		float: right;
		display: inline-block;
	}

	ul.navbar li#linkedin, li#github, li#email {
		display: none;	
	}

	ul.navbar.responsive {
		position: relative;
	}

	ul.navbar.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.navbar.responsive li {
		float: none;
		display: inline;
	}
	ul.navbar.responsive li a {
        display: block;
        text-align: center;
	}
}
/*----------------------aboutme-----------------------*/
section.aboutMe, section.resume, section.projects, section.footer {
	position: relative;
    z-index: 1;
}

section.aboutMe div.container {
	padding: 15% 0;
}

/*outer box*/
section.aboutMe div.container div#hex-box {
    height: 320px;
	display: block;
	position:relative;
	// outline: 1px solid red;
}

/*img*/
img.hex {
	display: block;
	margin: auto;
	width: 300px;
    height: 320px;
    // outline: 1px solid green;

}

/*inner box*/
div#hex-box div.intro {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

/*inner box text*/
div#hex-box div.intro h1, div#hex-box div.intro p{
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 0.1em #ececec;	
}

@media only screen and (max-width: 770px) {
	section.aboutMe div.container div#hex-box {
		margin: 10% 0;
	}	
}

/*----------------------resume-----------------------*/

section.resume div.container {
	padding: 3% 0;
	background-color: white;
}

div.center-title p {
	text-align: center;
	color: white;
	font-size: 20px;
}

.center-title {
	background-color: #4c245d;
	height: 50px;
	line-height: 50px;
	width: 250px;
	margin: auto;
}

/* image and intro div*/
section.resume div.intro {
	margin: 3% 15%;
	display: inline-block;
	padding-bottom: 25px;
	border-bottom: 5px solid #4c245d;
	// outline: 1px solid red;
}

.intro-photo {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 180px;
    height: 180px;
	// outline: 1px solid red;
}

/*intro text*/
.intro-paragrah {
	display: inline-block;
	vertical-align: top;
	padding: 0 2%;
	width: 60%;
	color: #4c245d;
	// outline: 1px solid blue;
}

img.myPhoto {
	position:absolute;
	text-align: left;
	display: block;
	margin: auto;
	width: 180px;
    height: 200px;
    overflow: hidden;
	border-radius: 50%;
	z-index: 3;
}

@keyframes fadeInOut {
	0% { 
	  	opacity:1;
	}
	45% {
		opacity:1;
	}

	55% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}

img#top {
	animation-name: fadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}

/* skill div*/
.skills {
	margin: -3% 10% 2% 10%;
	// outline: 1px solid blue;
}

/*skill-categry hold title and ul div*/
.skill-category {
    width: 45%;
	display: inline-block;
	margin: 0 2%;
	color: #4c245d;
	text-align: center;
	// outline: 1px solid red;
}
div.resume-desc ul {
	margin:0;
	padding: 0px;
	list-style: none;
}

div.resume-desc ul li {
	padding: 3px;
}

li.row1 img, .row2 img, .row3 img {
	width: 20%;
	list-style: none;
}
li.row4 img, .row5 img, .row6 img, .row7 img {
	width: 50%;
	list-style: none;
}

@media screen and (max-width: 740px) {

	div.intro-photo {
		width: 100%;
		width: 300px;
		height: 300px;

	}
	img.myPhoto {
		width: 300px;
		height: 300px;
	}

	div.intro-paragrah {
		display: block;
		margin-top: 2%;
		width: 100%;
	}
	div.intro-paragrah p {
		width: 100%;

	}
    .skill-category {
		outline: 1px solid green;
		margin-top: 2%;
		width: 100%;
	}
}
/*------------------------projects-------------------------*/
section.projects {
	text-align: center;
	text-decoration: none;
	color:white;
	margin: 0;
}


section.projects div.container {
	padding: 2% 5%;
	background: rgba(124, 127, 181, 0.4);
}

.gallery ul {
    margin: 0;
    padding: 2% 0;
}

li.project {
	display: inline-block;
	padding: 1%;
}

li.project div.image {
	width: 300px;
	height: 280px;
	display: block;
	position: relative;
}

div.image img {
	width: 300px;
	height: 280px;
}
li.project div.image div.img-hover{
  background: rgba(249, 221, 249, 0.85);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
}

li.project div.image:hover div.img-hover {
	opacity: .8;
	transition: opacity .5s;
}

ul.chrom-github {
	height: 100%;
}
ul.chrom-github li img {
	height: 80px;
	width: 80px;
}

ul.chrom-github li{
	display: inline-block;
	margin-top: 30%;
	padding: 0 5%;
}



@media scree and (max-width: 600px) {
	li.project img {
		max-width: 100%;
	}
}

/*----------------------footer-----------------------*/
section.footer div.container {
	padding: 2% 10%;
	background-color: white;

}
section.footer {
	text-align: center;
	text-decoration: none;
	
	margin: 0;
}
.footer ul {
    margin: 0;
    padding: 2% 0;
}

div.contacts ul li{
	display: inline-block;
	padding: 20px;
	font-size: 50px;
	
}


